

/* APPLY SPECIAL TITLE FORMAT FOR CALLOUTS TITLES . VERY NICE 🫡 */
.callout-title {
  font-variant: small-caps;
}


/* callout part of title ? Idk don't remember teehee oopsie */
.markdown-embed-title {
  font-variant: small-caps !important;
}

.inline-title:not([data-level])  {
  font-variant: small-caps;
}

.tree-item-inner.nav-file-title-content {
   font-variant: small-caps;
}

.tree-item-inner.nav-folder-title-content {
   font-variant: small-caps;
}

/* FOR [[LI]] elements */
.HyperMD-task-line {
    font-variant: small-caps;
}

/* FOR [[LI]] elements / web-view -obsidian publish */
.task-list-item {
    font-variant: small-caps;
}


/* we adding more teehee the indent  */
.cm-line {
    font-variant: small-caps;
}




/* Folder / Notes Titles inside left sidebar */
.tree-item-inner-text {
    font-variant: small-caps;
}



/* FOR [oBSIDIAn build-in headers] */
.inline-title {
    font-variant: small-caps;
}


